@using System.Web.Mvc.Html
<div id="CourseInfo">
    <table>
        <tr>
            <td>Code: </td>
            <td>@ViewBag.Code</td>
        </tr>
        <tr>
            <td>Credit: </td>
            <td>@ViewBag.Credit</td>
        </tr>

    </table>
</div>


