@using System.Web.Mvc.Html
<div id="StudentInfo">
    <table>
        <tr>
            <td><i>Name: </i></td>
            <td>@ViewBag.Name</td>
        </tr>
        <tr>
            <td><i>Email: </i></td>
            <td>@ViewBag.Email</td>
        </tr>
        <tr>
            <td><i>Department: </i> </td>
            <td>@ViewBag.Dept</td>
        </tr>
    </table>
</div>


