@using System.Web.Mvc.Html
<div id="TeacherInfo">
    <table>
        <tr>
            <td>Credit to be taken: </td>
            <td>@ViewBag.Credit</td>
        </tr>
        <tr>
            <td>Remaining Credit: </td>
            <td>@ViewBag.RemainingCredit</td>
        </tr>
        
    </table>
</div>

