@{
    ViewBag.Title = "Home Page";
}
<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    .
    
</div>

    <div id="carousel-example-generic" class="carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            @*<li data-target="#carousel-example-generic" data-slide-to="1"></li>*@
            <@*li data-target="#carousel-example-generic" data-slide-to="2"></li>*@
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/IMG/im 1.jpg" alt="aaaa   ">



                <div class="carousel-caption">

                </div>
            </div>



            @*<div class="item">

                <img src="~/IMG/im 2.jpg" alt="aaadda   ">



                <div class="carousel-caption">

                </div>
            </div>*@

            @*<div class="item">

                <img src="~/IMG/im 3.jpg" alt="aaadda   ">



                <div class="carousel-caption">

                </div>
            </div>*@
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>University Profile</h2>
        <p>Our heartiest welcome to you for your decision to be a student of Stamford's Education Program. Stamford University Bangladesh is one of the few universities that have been selected for this distinguished worldwide program
        </p>
        <p><a class="btn btn-default" href="http://www.stamford.edu.bd/SubWelcomeMessage.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help </h2>
        <p>If you have any kind of difficulty in maintaining or using site then you can easily fix it with some easy steps</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>We are a group of emerging team in developing field. To Know about us please read more</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/660879670632829/">Learn more &raquo;</a></p>
    </div>
</div>